body{
background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);    
}
.content-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

.img--login{
    width: 150px;
}

.login-title{
    color: #fff;
}

.login-subtitle{
    color: #fff;
}

.login--form label{
    color: #fff;
}
.remember__link{
    color: #fff;
    text-decoration: none;
}

.register__link{
    color: gray;
    text-decoration: none;
}

.remember{
    color: #fff;
    text-align: center
}